 h2, h3, h4, h5, p, a {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

body {
	

  background: linear-gradient(to bottom right, #ff3d00, #6a1b9a);

}

.EntryWrap {
	height: 400px;
	background: rgba(100,100,100, .3) !important;
}

.transp {
	background-color: rgba(100,100,100, .3)
}

.contentRow {
	// height: 300px;
}

.card {
	background: rgba(100,100,100, .2) !important;
	min-height: 300px;
}

